
<div class="row">
    <div class="col-md-12">
        <h2>Le chat le plus mignon</h2>
        <p>
            C'est une mini application web qui permet de trouver le chat le plus mignon.<br /><br />
            L'application devra donc être composée de deux pages :
        </p>
        <ul>            
            <li><a asp-area="" asp-controller="Cat" asp-action="Vote">Une page pour voter</a></li>
            <li><a asp-area="" asp-controller="Cat" asp-action="Scores">Une page pour voir tous les chats avec leur score</a></li>
        </ul>
    </div>
    
</div>
